.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size, 300px), 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.popoverButton {
  aspect-ratio: 1024/768;
  width: 100%;
  border-radius: 0.5rem;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
}

.popover {
  &::backdrop {
    background-color: #0005;
  }
  &,
  &::backdrop {
    transition: display 0.2s allow-discrete, overlay 0.2s allow-discrete,
      opacity 0.2s, transform 0.2s;
    opacity: 0;
  }

  &:popover-open,
  &:popover-open::backdrop {
    opacity: 1;
  }
  @starting-style {
    &:popover-open,
    &:popover-open::backdrop {
      opacity: 0;
    }
    
    &:popover-open {
      transform: translateY(10px);
    }
  }
}

